// main: ../style.less

.about {
  margin: 126px 0;
}

.about__inner {
  display: flex;
  max-width: 1090px;
}

.about__photo,
.about__content {
  width: 50%;
}

.about__content {
  margin-top: 2rem;
  padding-left: 3.2rem;
}

.about__suptitle {
  font-size: 3rem;
  font-weight: 700;
  color: @black;

  text-transform: uppercase;
}

.about__title {
  margin-bottom: 1.4rem;

  font-size: 6.1rem;
  font-weight: 700;
  line-height: 1.1;
  color: fade(@black, 15%);

  text-transform: uppercase;
}

.about__text {
  margin-bottom: 2.8rem;

  font-size: 0.8rem;
  font-weight: 300;
  line-height: 2;
  color: @gray;
}
