// main: ../style.less

.nav {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;

  @media @mobail {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;

    width: 100%;
    height: auto;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    display: none;
    background-color: #fff;

    text-align: center;

    &.show {
      display: flex;
    }
  }
}

.nav__link {
  margin-left: 2rem;

  position: relative;

  font-size: 0.93rem;
  text-transform: uppercase;
  color: @black;
  font-weight: 700;
  text-decoration: none;

  //border-radius: 20px;

  &:after {
    content: "";

    width: 0;
    height: 3px;
    background-color: @black;

    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: 1;

    transition: width 0.3s linear;

    @media @mobail {
      display: none;
    }
  }

  &:hover:not(.nav__link--btn) {
    &:after {
      width: 100%;
    }
  }

  &--btn {
    padding: 0.66rem 2rem;
    border: 3px solid @black;
    border-radius: 20px;
    transition: background-color 0.3s linear, color 0.2s linear;

    &:hover {
      background-color: @black;
      color: @white;
    }
  }

  @media @mobail {
    width: 100%;

    margin-left: 0;
    padding: 0.5rem 1rem;
  }
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:last-child {
  @media @mobail {
    margin-bottom: 0.5rem;
  }
}
